apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "artemis.fullname" . }}-override
  labels:
{{ include "artemis.labels" . | indent 4 }}
data:
  broker.xml: |
    {{- include "artemis.broker.xml" . | nindent 6 }}

  login.config.p: |
    activemq {
       org.apache.activemq.artemis.spi.core.security.jaas.PropertiesLoginModule required
           debug=true
           reload=true
           org.apache.activemq.jaas.properties.user="artemis-users.properties"
           org.apache.activemq.jaas.properties.role="artemis-roles.properties";
    };
  login.config: |
    {{- include "artemis.login.config" . | nindent 6 }}
  log4j2.properties: |
    {{ .Values.log42Properties | nindent 6 }}


  management.xml: |
    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <management-context xmlns="http://activemq.apache.org/schema">
        <!--<connector connector-port="1099"/>-->
        <authorisation>
            <allowlist>
                <entry domain="hawtio"/>
            </allowlist>
            <default-access>
                <!--
                The "default-access" settings apply to every MBean not explicitly configured
                in the "allowlist" or "role-access" sections
                -->

                <!-- allow read-only access by default -->
                <access method="list*" roles="amq"/>
                <access method="get*" roles="amq"/>
                <access method="is*" roles="amq"/>

                <!-- don't allow write or other operations by default -->
                <!--access method="set*" roles="amq"/-->
                <!--access method="*" roles="amq"/-->
            </default-access>
            <role-access>
                <match domain="org.apache.activemq.artemis">
                    <access method="list*" roles="amq"/>
                    <access method="get*" roles="amq"/>
                    <access method="is*" roles="amq"/>
                    <access method="set*" roles="amq"/>
                    <!-- Note count and browse are need to access the browse tab in the console -->
                    <access method="browse*" roles="amq"/>
                    <access method="count*" roles="amq"/>
                    <access method="*" roles="amq"/>
                </match>
                <!--example of how to configure a specific object -->
                <!--
                <match domain="org.apache.activemq.artemis" key="subcomponent=queues">
                   <access method="list*" roles="view,update,amq"/>
                   <access method="get*" roles="view,update,amq"/>
                   <access method="is*" roles="view,update,amq"/>
                   <access method="set*" roles="update,amq"/>
                   <access method="*" roles="amq"/>
                </match>
                -->
            </role-access>
        </authorisation>
    </management-context>

  log4j2-utility.properties: |
    monitorInterval=5
    rootLogger.level=WARN
    rootLogger.appenderRef.console.ref=console
    # Console appender
    appender.console.type=Console
    appender.console.name=console
    appender.console.layout.type=PatternLayout
    appender.console.layout.pattern=%d %-5level [%logger] %msg%n
  jolokia-access.xml: |
    <?xml version="1.0" encoding="utf-8"?>
    <!-- This policy file controls the Jolokia JMX-HTTP bridge security options for the web console.
       see: https://jolokia.org/reference/html/security.html -->
    <restrict>
        <cors>
            <!-- Allow cross-origin access from the origins that match the following pattern ... -->
            <allow-origin>*://0.0.0.0*</allow-origin>
            <!-- Options from this point on are auto-generated by Create.java from the Artemis CLI -->
            <!-- option relax-jolokia used, so strict-checking will be removed here -->
    
            <!-- Allow HTTPS reverse-proxy origin URLs while this pod serves non-TLS HTTP -->
            <ignore-scheme />
        </cors>
    </restrict>
  bootstrap.xml: |
    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <broker xmlns="http://activemq.apache.org/schema">
        <jaas-security domain="activemq"/>
        <!-- artemis.URI.instance is parsed from artemis.instance by the CLI startup.
             This is to avoid situations where you could have spaces or special characters on this URI -->
        <server configuration="file:/var/lib/artemis-instance/./etc//broker.xml"/>
        <!-- The web server is only bound to localhost by default -->
        <web path="web" rootRedirectLocation="console">
            <binding name="artemis" uri="http://0.0.0.0:8161">
                <app name="branding" url="activemq-branding" war="activemq-branding.war"/>
                <app name="plugin" url="artemis-plugin" war="artemis-plugin.war"/>
                <app name="console" url="console" war="console.war"/>
            </binding>
        </web>
    </broker>
  {{- with .Values.brokerProperties }}
  broker.properties: |
    {{ . | nindent 4 }}
  {{- end }}

  {{- with (.Values.security).oauth2 }}
    {{- if .enabled }}
  oauth2-role-aliases.properties: |
    {{- range $k, $v := .roleAliases }}
    {{ $k }}={{ join "," $v }}
    {{- end }}
  {{- end }}
 {{- end }}
 {{- with (.Values.security).kubernetes }}
    {{- if .enabled }}
  k8s-roles.properties: |
  {{- range  $ix, $entry := .clients }}
    {{ $entry.name }}={{ $entry.fullyQualifiedServiceAccountName }}
  {{- end }}
  {{- range $k, $v := .roleAliases }}
    {{ $k }}={{ join "," $v }}{{- end }}
  {{- end }}
{{- end }}